*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


.nav-container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(131, 131, 131);
    align-items: center;
    width: 100%;
    height: 10%;
    position: relative;
 
}

.logoContainer{
   padding: 3%;

}

.logoContainer a{
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
   
}

.logoContainer a img{
    width: 100px;
   height: 100%;
    border-radius: 60px;
    padding: 7px;
   
}


.pageLinks{
    display: flex;
    list-style: none;
    margin:10px;
 
}

.pageLinks li{
    margin: 1vw;
}

.pageLinks li:hover{
    transform: scale(1.05);
   
}

.pageLinks li a:hover{
    color: rgb(76, 76, 76);

   
}

.pageLinks a{

    text-decoration: none;
    color: white;
}

.toggle-btn{
    position: absolute;
    top: 7px;
    right: 50px;
    color: white;
    text-decoration: none;
    font-size: 30px;
    display: none;
    padding: 4px 10px;
}

.toggle-btn:hover{
    background-color: rgba(0, 0, 0, 0.325);
  
}


@media (max-width:700px) {

    .pageLinks{
        display: none;
    }

    .toggle-btn{
        display: flex;
    }

}